@arrows: url(img/arrow.png);

.slider-wrapper.default{
	//SLIDER
	&> div{
		display: block;
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 0;
		
		//SLIDES
		#slides{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			line-height: 0;
			
			&>*{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 0;
				
				img.bg{
					width: 100%;
					height: auto;
				}
			}
		}
		
		//ARROWS
		#left{
			position: absolute;
			width: 47px;
			height: 47px;
			background-image: @arrows;
			left: 5%;
			top: 50%;
			margin-top: -24px;
			z-index: 999999;
			cursor: pointer;
		}
		#right{
			position: absolute;
			width: 47px;
			height: 47px;
			background-image: @arrows;
			background-position: right top;
			right: 5%;
			top: 50%;
			margin-top: -24px;
			z-index: 999999;
			cursor: pointer;
		}
	}
}